<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div><a href="{% url 'exemplos:inicio' %}"> inicio</a></div>
  <div><a href="{% url 'exemplos:containers' %}"> containers</a></div>
  <div><a href="{% url 'exemplos:grids' %}"> grids</a></div>
  <div><a href="{% url 'exemplos:grids2' %}"> grids2</a></div>
  <div><a href="{% url 'exemplos:grids3' %}"> grids3</a></div>
  <div><a href="{% url 'exemplos:layouts01' %}"> layouts01</a></div>
  <div><a href="{% url 'exemplos:layouts02' %}"> layouts02</a></div>
 <div><a href="{% url 'exemplos:layouts03' %}"> layouts03</a></div>
<div><a href="{% url 'exemplos:alin_hor' %}"> Alinhamento Horizontal</a></div>
<div><a href="{% url 'exemplos:alin_ver' %}"> Alinhamento Vertical</a></div>




</body>
</html>