<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Primeiro Template</title>
</head>
<body>
    <h1>Olá mundo</h1>
    <h3>Titulo: {{primeiro.titulo}}</h3>
    <h3>Autor: {{primeiro.autor}}</h3>
    <br><br>
    <img src="{% static 'blog/python.png' %}">

    <h1>Lista dos Posts</h1>
<!--    <ul>-->
<!--        {% for post in posts %}-->
<!--            <li> {{ post.titulo }} - {{ post.autor }} </li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
    <ul>
        {% for post in posts %}
            <a href="{% url 'post_detail' post.id %}"> <li>{{ post.titulo }} - {{ post.autor }} </li></a>
        {% endfor %}
    </ul>
    
</body>
</html>